.scoreMeterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    height: 2rem;
    width: 100%;
}

.playerScore {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    height: 100%;
    background-color: green;
}

.opponentScore {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 100%;
    background-color: red;
}